# World-Class-Scholars: https://supabase.com/dashboard/project/qbmheroqblpcbuqwnzlp/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://qbmheroqblpcbuqwnzlp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
